version: "3.9"

services:
  backend:
    build: .
    container_name: greenmap-backend
    ports:
      - "8001:8001"      # host:container
    restart: always
    # Nếu bạn có file .env thì bật 2 dòng sau và tạo ./ .env
    env_file:
        - ./.env
    # Nếu muốn dev mode và mount code local vào container để auto reload:
    # volumes:
    #   - .:/app
    #   - /app/venv
