# Tạo chuỗi 64 chars bằng các trình tạo key miễn phí rồi add vào đây
SECRET_KEY="SECRET_KEY_HERE"

# Thay bằng key bạn vừa lấy từ OpenAQ
OPENAQ_API_KEY="KEY_HERE"

# Địa chỉ của Context Broker
ORION_BROKER_URL="http://localhost:1026"
AQI_SERVICE_PATH=https://smartdatamodels.org/dataModel.Environment
NGSI_CONTEXT_URL=https://raw.githubusercontent.com/smart-data-models/dataModel.Environment/master/context.jsonld

# Tài khoản Super Admin mặc định
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=123456

# Chuỗi kết nối Postgres 
DATABASE_URL="postgresql+asyncpg://admin:mysecretpassword@localhost:5432/greenmap_db"

# Cấu hình NGSI-LD (Context & Type)
NGSI_CONTEXT_URL=https://raw.githubusercontent.com/smart-data-models/dataModel.Environment/master/context.jsonld
NGSI_TYPE_AQI=https://smartdatamodels.org/dataModel.Environment/AirQualityObserved
NGSI_TYPE_WEATHER=https://smartdatamodels.org/dataModel.Environment/WeatherObserved
